# Ignore everything by default
*

# Allow the files we want to track
!.gitignore
!README.md
!requirements.txt
!environment.yml
!utils/
!utils/**/*.py
!0_data_exploration.ipynb
!1_graph_construction.ipynb
!2_train_gae.ipynb
!3_rare_pattern_mining.ipynb
!4_evaluation.ipynb

# But ignore cache and checkpoints
__pycache__/
.ipynb_checkpoints/
utils/__pycache__/

